<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>[[${title}]]</h1>
    <p>[[${dvd.title}]]</p>
    <p>[[${dvd['producer']}]]</p>
    <p>[[${dvd.getPublisher()}]]</p>

    <p>[[${names[0]}]]</p>
    <p>[[${names[1]}]]</p>
    <p>[[${names[2]}]]</p>

    <p>[[${dvdList[0].title}]]</p>
    <p>[[${dvdList[1].producer}]]</p>
    <p>[[${dvdList[2].publisher}]]</p>

    <table>
        <thead>
            <tr>
                <th>index</th>
                <th>title</th>
                <th>producer</th>
                <th>publisher</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="dvd, state : ${dvdList}">
                <td>[[${state.count}]]</td>
                <td>[[${dvd.title}]]</td>
                <td>[[${dvd.producer}]]</td>
                <td>[[${dvd.publisher}]]</td>
            </tr>
        </tbody>
    </table>

    <p th:each="name, state : ${names}">인덱스: [[${state.index}]] 순번: [[${state.count}]] 이름: [[${name}]]</p>

</body>
</html>